
.galleryItem {
  border-radius: 8px;
  border: 1px solid black;
  flex: 0 0 32%;
  margin: 1rem 0;
  padding: 1.5rem;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  /*Todo: can experiment with putting image of facility as the background image*/
}

@media only screen and (max-width: 768px){
  .galleryItem {
    flex: 0 0 100%;
  }
}

.galleryItemHeader {
  font-weight: bold;
  font-size: 1.2rem;
}

.galleryItemTime {
  margin-bottom: 1rem;
  font-weight: bold;
  font-size: 1.1rem;
}

.galleryItemGreen {
  background-color: rgba(0, 255, 0, 0.2);
}

.galleryItemYellow {
  background-color: rgba(255, 255, 0, 0.2);
}

.galleryItemRed {
  background-color: rgba(255, 0, 0, 0.2);
}